<template>

    <p v-if="$fetchState.pending">Fetching mountains...</p>
    <p v-else-if="$fetchState.error">An error occurred :(</p>
    <div v-else>
        <h1>Test PWA + NUXT</h1>
        <ul>
            <li v-for="item in items" :key="item.id">
                <div>{{ item.title }}</div>
                <div>{{ item.body }}</div>
            </li>
        </ul>
        <button @click="$fetch">Refresh</button>
    </div>
</template>


<script>
  export default {
    data() {
      return {
        items: []
      }
    },
    async fetch() {
      this.items = await fetch(
          'https://jsonplaceholder.typicode.com/posts'
      )
          .then(res => res.json())
    }
    //fetchOnServer: false
  }
</script>